<div class=" px-6 xl:px-24  lg:py-20  pb-5">
  <div class="flex justify-center gap-10 lg:pb-4 pb-2">
  <img src="/fa-brands_facebook-square.svg" alt="socials"/>
  <img alt="socials" src="/fa-brands_instagram.svg"/>
  <img alt="socials" src="/fa-brands_twitter.svg"/>
  <img  alt="socials" src="/fa-brands_youtube.svg"/>
  </div>

  <div class="flex justify-center lg:gap-8 gap-4 flex-col lg:flex-row py-4 font-DMSans text-[#111827] lg:text-lg text-base font-semibold">
      <p>Conditions of Use</p>
      <p>Privacy & Policy</p>
      <p>Press Room</p>
  </div>

  <div class="flex justify-center pt-4 text-[#6B7280] lg:text-lg text-base font-semibold">
  <p>© 2024 MovieBox by Anazodo Michael  </p>
  </div>
  </div>
